@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF-Pro';
    src:
      local('SF-Pro'),
      url('./fonts/SF-Pro.ttf') format('truetype');
  }
  html {
    -webkit-tap-highlight-color: transparent;
    font-family: 'SF-Pro', 'sans-serif';
  }
}

@layer utilities {
  .focusable {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2;
  }
}
