@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF-Pro';
    src:
      local('SF-Pro'),
      url('./fonts/SF-Pro.ttf') format('truetype');
  }
}

html {
  font-family: 'SF-Pro', 'sans-serif';
  /* overflow-x: hidden; */
}
